{
  "extends": "vtex-react",
  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-explicit-any": 1,
    "react/display-name": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
