/* Skeleton animation */
@keyframes shimmer-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

.shimmer {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  background-size: 50% 100%;
  animation: shimmer-anim 0.7s linear infinite;
}
/* end Skeleton animation */

.alert-info {
  background-color: #edf4fa;
  border-color: rgb(54, 141, 247);
  border-radius: 4px;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-bottom: 1rem;
}

.alert-info a {
  color: #f71963;
}

.alert-warning {
  background-color: #fff6e0;
  border-color: rgb(255, 177, 0);
  border-radius: 4px;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-bottom: 1rem;
}

.alert-warning a {
  color: #f71963;
}

.alert-danger {
  background-color: #ffe6e6;
  border-color: rgb(255, 76, 76);
  border-radius: 4px;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-bottom: 1rem;
}

.alert-danger a {
  color: #f71963;
}
